# Strings in detail

In [1]:
name = "Aparna"

In [2]:
name.index("a")

2

In [3]:
address = "Kalpetta"

In [4]:
address

'Kalpetta'

In [5]:
#concatinate the strings together ->

name+""+address

In [7]:
name +" "+ address

'Aparna Kalpetta'

In [8]:
name.split()

['Aparna']

In [9]:
name[4]

'n'

# list

In [10]:
# what are lists

# Lists are a collection of datatypes which can hol int,float,string and sub lists also

In [12]:
lst = [1,2,3,4,"aparna","abc",3.7,7.8]
lst

[1, 2, 3, 4, 'aparna', 'abc', 3.7, 7.8]

In [13]:
type(lst)

list

In [15]:
lst[4]

'aparna'

In [16]:
lst[-1]

7.8

In [17]:
lst = [1,3,3,"aparna",["appu","lopk",9],8.90]

In [18]:
lst

[1, 3, 3, 'aparna', ['appu', 'lopk', 9], 8.9]

In [19]:
lst[4]

['appu', 'lopk', 9]

In [20]:
lst[4][1]

'lopk'

In [23]:
lst[-2][-1]

9

In [25]:
lst.append(4)

In [26]:
lst

[1, 3, 3, 'aparna', ['appu', 'lopk', 9], 8.9, 4]

# Tuple

In [28]:
#Tuples are immutable and they are not editable after once it is declared

In [29]:
tup = ("We love wayanad")

In [30]:
tup

'We love wayanad'

In [31]:
type(tup)

str

In [32]:
top = ("I","hat","you")

In [33]:
top

('I', 'hat', 'you')

In [34]:
top.index("you")

2

In [35]:
#where do we use tuple
#whenever we were declaring a constant

# Dictionary

In [36]:
#we use it for key value pair

In [37]:
dit = {"key":"value", "key1":2, "key2":8}

In [38]:
dit

{'key': 'value', 'key1': 2, 'key2': 8}

In [40]:
dit["key"]

'value'

In [42]:
dit
["key1"]

['key1']

In [43]:
dit1 = {"subdict":{"key1":1,"key2":8}}
dit1.get("subdict").get("key2")

8

# IF ELSE AND ELIF

In [44]:
#if t want something .If that is not there give me that

In [48]:
num = 3

In [49]:
if num == 4:
    print("hello")
else:
    print("hate u")

hate u

In [53]:
num = 3
if num < 6:
    print("bad")
elif num == 6:
    print("Awesome")
else:
    print("hohoo")

bad