# Functions of strings

In [1]:
# string replace

In [2]:
lop =  "Helloo Abuuu"
lop.replace("Abuuu","Appu")

'Helloo Appu'

In [3]:
#string reverse

In [4]:
kop = "Aparna"

In [7]:
''.join(reversed(kop))

'anrapA'

In [8]:
#string Join

In [9]:
s1 = "ABC"
s2 = "DEF"
s1.join(s2)

'DABCEABCF'

In [10]:
#string length

In [11]:
text = "python"

In [12]:
len(text)

6

In [13]:
#string compare

In [15]:
s1 = "Aparna"
s2 = "Aparna"
if(s1 == s2):
    print("Both are equal")

Both are equal

# Functions of list

In [16]:
#Traverse a list

In [17]:
mylist = [1, 2, 3, 4, 5]
for i in range(len(mylist)):
    mylist[i]+=5
print(mylist)

[6, 7, 8, 9, 10]

In [19]:
#Slicing

In [21]:
mylist = ['one','two','three','four']
mylist[1:3]

['two', 'three']

In [22]:
#Insert

In [24]:
fruits = ["apple","orange","strawberry","banana"]
fruits.insert(2,"Watermelon")

In [25]:
fruits

['apple', 'orange', 'Watermelon', 'strawberry', 'banana']

In [29]:
# sort a list

In [30]:
list2 = [3, 5, 2, 4, 1]
list2.sort()

In [31]:
list2

[1, 2, 3, 4, 5]

In [32]:
#reverse a list

In [33]:
pop = [1,3,4,5,]
pop.reverse()

In [34]:
pop

[5, 4, 3, 1]

# Functions of dictionary

In [1]:
#len(dict)

In [9]:
dict = {'Name' : 'Zara', 'Age' : 7};
len (dict)

2

In [10]:
#str(dict)

In [14]:
dict = {'Name':'zara', 'age': 7}
str(dict)

"{'Name': 'zara', 'age': 7}"

In [15]:
#dict.copy()

In [16]:
dict1 = {'name': 'zara', 'age': 7};
dict2 = dict1.copy()
str(dict2)

"{'name': 'zara', 'age': 7}"

In [17]:
#dict.fromkeys(seq[, value])

In [19]:
seq = ('name','age','sex')
dict = dict.fromkeys(seq)
str(dict)
dict = dict.fromkeys(seq, 10)
str(dict)

"{'name': 10, 'age': 10, 'sex': 10}"

In [20]:
#dict.get(key, default=None)

In [25]:
dict = {'name': 'zabra', 'age': 7}
dict.get('age')
dict.get('education', "Never")

'Never'

In [27]:
dict.get('age')

7